@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-white: #fff;
  --text-green: #1baa80;
}
html {
  scroll-behavior: smooth;
}
/*start general */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.btn-general {
  border: 1px solid var(--text-green);
  border-radius: 20px;
  padding: 10px 40px;
  color: var(--text-green);
  text-transform: uppercase;
  font-weight: 600;
  transition: all ease-in 0.3s;
}
.btn-general:hover {
  background-color: var(--text-green);
  color: var(--text-white);
}
.special-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.special-title h1 {
  font-weight: bold;
  color: #f2f4f4;
  font-size: 8rem;
  text-transform: uppercase;
}
.special-title p {
  position: absolute;
  font-weight: 500;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.special-title p::after {
  content: "";
  position: absolute;
  bottom: -10%;
  right: 50%;
  transform: translateX(50%);
  height: 3px;
  width: 80px;
  background-color: var(--text-green);
}

@media (min-width: 577px) and (max-width: 768px) {
  .special-title h1 {
    font-size: 6rem;
  }
}
@media (max-width: 576px) {
  .special-title h1 {
    font-size: 4rem;
  }
  .special-title p {
    font-size: 1.5rem;
  }
}

/*end general */

/* start scroll to top */
#scrollToTop {
  position: fixed;
  bottom: 10px;
  right: -50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  padding: 15px;
  color: var(--text-white);
  cursor: pointer;
  z-index: 100;
  transition: 0.2s;
  display: flex;
}
#scrollToTop.show {
  right: 10px;
}
#scrollToTop:hover {
  background-color: var(--text-green);
  color: var(--text-white);
}
/* end scroll to top */

/* start color bars */
.colors-button button {
  position: fixed;
  top: 35%;
  right: 0;
  background-color: #555;
  border: 2px solid #555;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
  z-index: 10;
}
.colors-button i {
  color: white;
  font-weight: 900;
}
/* end color bars */

/* start Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  position: fixed;
  width: 100%;
  left: 0;
  transition: all ease-in 0.3s;
  z-index: 111;
}
nav ul {
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}
nav .logo h2 {
  color: var(--text-white);
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
}
nav ul li > a {
  color: var(--text-white);
  text-transform: capitalize;
  transition: all ease-in 0.3s;
}

nav ul li a.active {
  color: var(--text-green);
}

nav .nav-socail a {
  color: var(--text-white);
  font-size: 1.3rem;
  margin: 0 10px;
  transition: all ease-in 0.3s;
}
nav .nav-socail a:hover,
nav ul li > a:hover {
  color: var(--text-green);
}

nav .humburger {
  display: none;
  cursor: pointer;
}
nav .humburger .line {
  height: 2px;
  width: 27px;
  background-color: var(--text-white);
  margin: 5px 0;
  opacity: 0.8;
  transition: all ease-in-out 0.3s;
}

.menu-open {
  transform: translate(0);
}
.hamburger-open .line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.hamburger-open .line:nth-child(2) {
  opacity: 0;
}

.hamburger-open .line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 900px) {
  nav ul {
    position: absolute;
    top: 100%;
    flex-direction: column;
    gap: 0;
    background-color: #000;
    left: 0;
    width: 100%;
    text-align: center;
    transition: all ease-in-out 0.7s;
    transform: translateX(-100%);
  }
  nav .humburger {
    display: block;
  }

  nav ul li {
    border-bottom: 1px solid #555;
    padding: 20px 0;
  }
  nav ul li:last-child {
    border: none;
  }
}

/* end Navbar */

/* start Header */
.header {
  background-image: url(../images/intro-bg.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.header .overlay {
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

.header .caption {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: var(--text-white);
  text-align: center;
}
.header .caption h1 {
  margin: 15px 0;
  font-size: 4rem;
}
.header .caption h1::after {
  content: "";
  animation-name: typing;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes typing {
  0% {
    content: " I|";
  }
  1% {
    content: " I'|";
  }
  2% {
    content: " I'm|";
  }
  3% {
    content: " I'm |";
  }
  4% {
    content: " I'm S|";
  }
  5% {
    content: " I'm Si|";
  }
  6% {
    content: " I'm Sim|";
  }
  7% {
    content: " I'm Simo|";
  }
  8% {
    content: " I'm Simon|";
  }
  9% {
    content: " I'm Simone|";
  }
  10% {
    content: " I'm Simone |";
  }
  11% {
    content: " I'm Simone O|";
  }
  12% {
    content: " I'm Simone Ol|";
  }
  13% {
    content: " I'm Simone Oli|";
  }
  14% {
    content: " I'm Simone Oliv|";
  }
  15% {
    content: " I'm Simone Olivi|";
  }
  16% {
    content: " I'm Simone Olivia|";
  }
  18% {
    content: " I'm Simone Olivia|";
  }
  19% {
    content: " I'm Simone Olivi|";
  }
  20% {
    content: " I'm Simone Oliv|";
  }
  21% {
    content: " I'm Simone Oli|";
  }
  22% {
    content: " I'm Simone ol|";
  }
  23% {
    content: " I'm Simone o|";
  }
  24% {
    content: " I'm Simone |";
  }
  25% {
    content: " I'm Simone|";
  }
  26% {
    content: " I'm Simon|";
  }
  27% {
    content: " I'm Simo|";
  }
  28% {
    content: " I'm Sim|";
  }
  29% {
    content: " I'm Si|";
  }
  30% {
    content: " I'm S|";
  }
  31% {
    content: " I'm |";
  }
  32% {
    content: " I'm a |";
  }
  33% {
    content: " I'm a F|";
  }
  34% {
    content: " I'm a Fr|";
  }
  35% {
    content: " I'm a Fre|";
  }
  36% {
    content: " I'm a Free|";
  }
  37% {
    content: " I'm a Freel|";
  }
  38% {
    content: " I'm a Freela|";
  }
  39% {
    content: " I'm a Freelan|";
  }
  40% {
    content: " I'm a Freelanc|";
  }
  41% {
    content: " I'm a Freelance|";
  }
  42% {
    content: " I'm a Freelancer|";
  }
  43% {
    content: " I'm a Freelancer.|";
  }
  45% {
    content: " I'm a Freelancer.|";
  }
  46% {
    content: " I'm a Freelancer|";
  }
  47% {
    content: " I'm a Freelance|";
  }
  48% {
    content: " I'm a Freelanc|";
  }
  49% {
    content: " I'm a Freelan|";
  }
  50% {
    content: " I'm a Freela|";
  }
  51% {
    content: " I'm a Freel|";
  }
  52% {
    content: " I'm a Free|";
  }
  53% {
    content: " I'm a Fre|";
  }
  54% {
    content: " I'm a Fr|";
  }
  55% {
    content: " I'm a F|";
  }
  56% {
    content: " I'm a |";
  }
  57% {
    content: " I'm a P|";
  }
  58% {
    content: " I'm a Ph|";
  }
  59% {
    content: " I'm a Pho|";
  }
  60% {
    content: " I'm a Phot|";
  }
  61% {
    content: " I'm a Photo|";
  }
  62% {
    content: " I'm a Photog|";
  }
  63% {
    content: " I'm a Photogr|";
  }
  64% {
    content: " I'm a Photogra|";
  }
  65% {
    content: " I'm a Photograp|";
  }
  66% {
    content: " I'm a Photograph|";
  }
  67% {
    content: " I'm a Photographe|";
  }
  68% {
    content: " I'm a Photographer|";
  }
  69% {
    content: " I'm a Photographer.|";
  }
  71% {
    content: " I'm a Photographer.|";
  }
  72% {
    content: " I'm a Photographer|";
  }
  73% {
    content: " I'm a Photographe|";
  }
  74% {
    content: " I'm a Photograph|";
  }
  75% {
    content: " I'm a Photograp|";
  }
  76% {
    content: " I'm a Photogra|";
  }
  77% {
    content: " I'm a Photogr|";
  }
  78% {
    content: " I'm a Photog|";
  }
  79% {
    content: " I'm a Photo|";
  }
  80% {
    content: " I'm a Phot|";
  }
  81% {
    content: " I'm a Pho|";
  }
  82% {
    content: " I'm a Ph|";
  }
  83% {
    content: " I'm a P|";
  }
  84% {
    content: " I'm a |";
  }
  85% {
    content: " I'm a D|";
  }
  86% {
    content: " I'm a De|";
  }
  87% {
    content: " I'm a Des|";
  }
  88% {
    content: " I'm a Desi|";
  }
  89% {
    content: " I'm a Desig|";
  }
  90% {
    content: " I'm a Design|";
  }
  91% {
    content: " I'm a Designe|";
  }
  92% {
    content: " I'm a Designer|";
  }
  93% {
    content: " I'm a Designer.|";
  }
  95% {
    content: " I'm a Designer.|";
  }
  96% {
    content: " I'm a Design|";
  }
  97% {
    content: " I'm a Des|";
  }
  98% {
    content: " I'm a |";
  }
  99% {
    content: " I'm|";
  }
  100% {
    content: "|";
  }
}

@media (max-width: 768px) {
  .header .caption h1 {
    font-size: 2rem;
  }
}

.header .caption p:nth-of-type(1) {
  font-size: 1.5rem;
}
.header .caption p:nth-of-type(2) {
  font-size: 1rem;
}
.header .caption .btn-general {
  margin-top: 25px;
}
.header .arrow {
  position: absolute;
  animation-name: arrowmove;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes arrowmove {
  from {
    bottom: 60px;
    opacity: 0.1;
  }
  to {
    bottom: 20px;
    opacity: 1;
  }
}
.header .arrow a {
  color: var(--text-white);
  font-size: 1.2rem;
}

/* end Header */

/* start About */
.about {
  margin: 40px 0;
}
.about-content {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 50px;
}
.about .about-left {
  width: 70%;
}
.about .about-left span {
  color: var(--text-green);
}
.about .about-left p {
  margin: 15px 0;
  letter-spacing: 1px;
}

.about .about-right {
  width: 30%;
}
.about .about-right li {
  border-bottom: 1px solid #6c757d;
  padding: 8px 0;
}
.about .about-right li:last-of-type {
  border: none;
}
.about .about-right li a {
  color: var(--text-green);
}
.about .about-right span {
  font-weight: 600;
}
.about .about-right .btn-general {
  display: inline-block;
  margin-top: 20px;
  background-color: var(--text-green);
  color: var(--text-white);
}

@media (max-width: 992px) {
  .about .about-content {
    flex-direction: column;
    justify-content: flex-start;
  }
  .about .about-left,
  .about .about-right {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .about .special-title h1 {
    font-size: 3.7rem;
  }
  .about .special-title p {
    font-size: 1.2rem;
  }
}

/* end About */

/* start Count */

.count .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.count .count-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5rem;
  border-right: 1px solid rgb(207, 200, 200);
}
.count .count-content:nth-of-type(4) {
  border: none;
}

.count .count-content span {
  font-weight: 600;
  font-size: 3rem;
  color: #6c757d;
}
@media (max-width: 1400px) {
  .count .count-content {
    border: none;
  }
}

/* end Count */

/* start Servies */
.services {
  margin: 40px 0;
  background-color: #f8f9fa;
  padding: 30px 0;
}
.services .special-title h1 {
  font-weight: bold;
  color: #dee3e4;
}
.services .services-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
  margin: 3rem 0;
}
.services .services-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.services .services-box .services-icons {
  padding: 20px;
  border-radius: 0.8rem;
  background-color: var(--text-white);
}
.services .services-box .services-icons i {
  color: var(--text-green);
  font-size: 1.8rem;
}
.services .services-box .services-title h4 {
  margin-bottom: 5px;
  font-size: 1.3rem;
  font-weight: 400;
}
.services .services-box .services-title p {
  letter-spacing: 1px;
  line-height: 1.8rem;
}

@media (max-width: 992px) {
  .services .services-content {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .services .services-box {
    align-items: flex-start;
  }
  .services .services-content .services-box:nth-of-type(2) {
    margin-top: 3rem;
  }
  .services .services-box .services-title p {
    letter-spacing: unset;
    line-height: unset;
  }
}

/* end Servies */

/* start Symmary */
.summary .summary-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}
.summary .summary-box h2 {
  font-weight: 500;
}
.summary .summary-content {
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}
.summary .summary-content span:nth-of-type(1) {
  background-color: #20c997;
  color: var(--text-white);
  padding: 3px 7px;
  border-radius: 3px;
  font-size: 14px;
}
.summary .summary-content h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 10px;
}
.summary .summary-content span:nth-of-type(2) {
  color: #dc3545;
  margin: 15px 0;
  display: inline-block;
}
.summary .summary-content p {
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .summary .summary-box {
    flex-wrap: wrap;
  }
}

/* end Symmary */

/* start skills */
.skills {
  margin: 40px 0;
}
.skills h2 {
  font-weight: 500;
}

.skills .skills-content {
  display: flex;
  gap: 50px;
  margin: 20px 0;
}
.skills .skills-between {
  width: 50%;
}
.skills .skills-between .skills-text {
  display: flex;
  justify-content: space-between;
}
.skills .skills-between .skills-text p {
  margin-bottom: 10px;
}
.skills .progress {
  height: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
}
.skills .progress-bar {
  height: 100%;
  background-color: #20c997;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .skills .skills-content {
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
  }
  .skills .skills-between {
    width: 100%;
  }
}

.skills .skills-btn {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

/* end skills */

/* start Portfolio */
.portfolio {
  margin: 40px 0;
  background-color: #f8f9fa;
  padding: 30px 0;
}

.portfolio .portfolio-btn {
  display: flex;
  justify-content: center;
  gap: 25px;
  position: relative;
}
.portfolio .portfolio-btn a {
  font-size: 17px;
  font-weight: 600;
  color: #7b8084;
}
.portfolio .portfolio-btn a:first-child {
  position: relative;
  color: var(--text-green);
}

.portfolio .portfolio-btn a:first-child::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 50px;
  transform: translateX(-50%);
  height: 2px;
  background-color: var(--text-green);
}

.portfolio .item {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 10px;
}
.portfolio .item:hover img {
  transform: scale(1.2, 1.2);
}
.portfolio .item img {
  width: 100%;
  transition: all ease-in 0.3s;
}
.portfolio .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--text-white);
  opacity: 0;
  transition: all ease-in 0.3s;
}
.portfolio .item:hover .overlay {
  opacity: 1;
}
.portfolio .overlay h3 {
  letter-spacing: 1px;
  font-weight: 500;
}
.portfolio .overlay p {
  margin-top: 3px;
}
.portfolio .portfolio-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 35px;
}
.portfolio .column {
  width: 33%;
  padding: 7px;
}

@media (max-width: 600px) {
  .portfolio .column {
    width: 100%;
  }
}

/* end Portfolio */

/* start Testimonial */
.testimonial {
  margin: 40px 0;
}

@media (max-width: 992px) {
  .testimonial .special-title h1 {
    font-size: 5rem;
  }
}

@media (max-width: 600px) {
  .testimonial .special-title h1 {
    font-size: 3rem;
  }
  .testimonial .special-title p {
    font-size: 1.1rem;
  }
}

.testimonital-wrapper {
  display: flex;
  gap: 20px;
  margin: 50px 0;
}
.testimonital-wrapper .box-content {
  background-color: #f8f9fa;
  padding: 40px 40px;
}
.testimonial .row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.testimonial .row img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.testimonial .row h5 {
  font-weight: 500;
  font-size: 1.1rem;
}
.testimonial .row div > p {
  color: #6c757d;
}
.testimonial .row + p {
  font-weight: 500;
  margin: 20px 0;
}
.testimonial .stars i {
  color: #ffc107;
}
@media (max-width: 992px) {
  .testimonital-wrapper {
    flex-wrap: wrap;
  }
}

.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.owl-carousel .owl-dots .owl-dot {
  border: 1px solid var(--text-green);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.owl-carousel .owl-dots .owl-dot.active span {
  background-color: var(--text-green);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.owl-carousel .owl-dots .owl-dot:not(.active) {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
}

/* end Testimonial */

/* start Contact */
.contact {
  background-color: #f8f9fa;
  padding: 30px 0;
  margin: 40px 0;
}
.contact .contact-wrapper {
  display: flex;
  column-gap: 7%;
}
.contact .contact-left {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.contact .contact-left h3,
.contact .contact-right h3 {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.contact .contact-left ul {
  margin: 15px 0;
}
.contact .contact-left ul:nth-of-type(2) li i {
  color: var(--text-green);
  margin-right: 5px;
}
.contact .contact-left ul li {
  padding: 3px 0;
}
.contact .contact-left ul:nth-of-type(3) {
  display: flex;
  column-gap: 25px;
  align-items: center;
}
.contact .contact-left ul:nth-of-type(3) i {
  color: #4d555a;
  font-size: 1.1rem;
  transition: all ease-in;
  transition-duration: 0.3s;
}
.contact .contact-left ul:nth-of-type(3) i:hover {
  color: var(--text-green);
}

.contact .contact-wrapper .contact-right {
  width: 80%;
}
.contact .contact-right .form-control {
  display: flex;
  column-gap: 3%;
}
.contact .contact-right .form-control input,
.contact .contact-right textarea {
  width: 100%;
}

.contact .contact-right input,
.contact .contact-right textarea {
  padding: 20px 10px;
  border-radius: 10px;
  border: 1px solid #dae1e3;
  outline: none;
  font-size: 17px;
}
.contact .contact-right input:focus,
.contact .contact-right textarea:focus {
  border: 1px solid var(--text-green);
}
textarea {
  margin: 20px 0;
  resize: none;
}
.contact-right > div {
  display: flex;
  justify-content: center;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .contact .contact-right .form-control {
    flex-direction: column;
  }
  .contact .contact-right .form-control input {
    margin: 10px 0;
  }
  .contact .contact-left {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
  }
  .contact .contact-left,
  .contact .contact-right {
    width: 100% !important;
    align-items: center;
  }

  .contact .contact-right .form-control {
    flex-direction: column;
  }
  .contact .contact-right .form-control input {
    margin: 10px 0;
  }
  .contact .special-title p {
    font-size: 1.1rem;
  }
}

/* end Contact */

/* start Footer */
footer {
  margin: 40px 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer span {
  color: var(--text-green);
}
footer ul {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
}
footer ul li:nth-of-type(2) {
  border-left: 1px solid #4d555a;
  padding-left: 10px;
}

@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
    align-items: center;
  }
  footer p {
    margin-bottom: 10px;
  }
}

/* end Footer */
